// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #d7d6d6;
@light-gray: #7c7a7a;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;
@fg1: #fee8e8;
@fg2: #cbcbcb;
@fg3: #adaaaa;

@cyan: #2cb3a0;
@blue: #6c9ef8;
@purple: #b77fdb;
@green: #85a300;
@red: #c84b49;
@orange: #d89333;
@light-orange: #f6a644;
@yellow: #ebb207;
